<h2><%= @list.name %></h2>
<%= link_to 'Home', lists_path, class: "btn btn-primary" %>
  <div>
  <% @list.bookmarks.each do |bookmark| %>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <div>
        <p class="card-title"><%= bookmark.movie.title %></p>
        <p>Rating: <%= bookmark.movie.rating %></p>
      </div>
      <p class="card-text"><%= bookmark.movie.overview %></p>
      <p><%= bookmark.comment %></p>
    </div>
  </div>
  <% end%>

